@charset "utf-8";
	* { 
		margin: 0; padding: 0; 
	}
	body { 
		background-color: #232323; 
		font-family: "Myriad Variable Concept", "arial";
	}
	li { 
		list-style-type: none; 
		font-weight: bold; 
		font-size: 18px; 
	}
	a { 
		text-decoration: none; 
		color: #292929; 
	}
	a:hover { 
		color: #2F4F4F;; 
	}
	
	#wrapper {
		width: 1100px;
		height: 3700px;
		/*background: url(../images/mainpage/bg_grid.png);*/
		background-color: #ffffff;
		margin: 0 auto;
		z-index: -999;
		/*overflow:hidden;*/
	}
	
	/* header 시작 */
		#header {
			position: relative;
			left: -50px;
			width: 1200px;
			height: 600px;
			overflow: hidden;
			z-index: 1;
		}
		.swiper {
		  width: 600px;
		  height: 300px;
		}  
		#imgview {
			/*	z-index: -1; */
		}
			
		#header h1 {
			position: absolute;
			left: 180px;
			top: 0;
			z-index: 99;
		}
		
		#menubar {
			position: absolute;
			width: 1200px;
			height: 70px;
			background-color: rgba(255,255,255,0.4);
			z-index: 50;
		}
		#nav {
			height: 70px;
		}
		.menu {
			display: table;
			float: left;
			margin-right: 40px;
			position: relative;
			left: 420px;
			width: 100px;
			height: 70px;/**/
			line-height: 70px;
			text-align: center;
		}
		.menu:nth-child(1){
			transition: all 1s;
		}
		.menu:nth-child(1):hover  {
			background-color: rgba(255,255,255,0.4);
			transition: all 1s;
		}
		.submenu {
			/* display: none; */
			opacity: 0;
			width: 40px;
			transition: all 0.5s;
		}
		.menu:hover .submenu { 
			/* display: block;  */
			opacity: 1;
		}
		.submenu li {
			width: 100px;
			list-style-type: none;
			font-weight: bold;
			line-height : 40px;
			font-size: 15px;
			text-align: center;
		}	
	/* header 끝 */
	
	
	/* container 시작 */
		#container {
			margin-top: 100px;
		}
		/* container #special */
		#container h2 {
			text-align: center;
			font-size: 30px;
			margin-bottom: 40px;
		}
		#container h3 {
			font-size: 24px;
		}
		#container p {
			font: bold 14px "맑은 고딕";
		}
			
			#container .zoom:nth-child(1) h3 {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				text-align: right;
				width: 950px;
			}
			#container .zoom:nth-child(1) p {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				left: -130px;
				text-align: right;
			}
			#container .zoom:nth-child(2) h3 {
				/*outline: solid 2px blue;*/
				position: relative;
				margin-left: 100px;
				top: -180px;
			}
			#container .zoom:nth-child(2) p {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				margin-left: 235px;
			}
			#container .zoom:nth-child(3) h3 {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				text-align: right;
				width: 982px;
			}
			#container .zoom:nth-child(3) p {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				left: -175px;
				text-align: right;
			}
			#container .zoom:nth-child(4) h3 {
				/*outline: solid 2px blue;*/
				position: relative;
				margin-left: 160px;
				top: -180px;
			}
			#container .zoom:nth-child(4) p {
				/*outline: solid 2px blue;*/
				position: relative;
				top: -180px;
				margin-left: 225px;
			}
			#container .zoom:nth-child(2) div, #container .zoom:nth-child(4) div {
				margin-left: 320px;
			}
			
		#container .zoom_contain {
			margin-left: 50px;
		}
		#container .zoom img {
			width: 730px; 
			height: 350px;	
			transition: all 0.3s linear;
			cursor: pointer;
		}
		
		.zoom_contain {
			overflow : hidden;
			width: 730px;
			height: 350px;
		}
		.zoom img:hover{
			transform: scale(1.5);
		}	
		
		/* container #Accommodation */
		.room {
			/*cursor: pointer;*/
			text-align: center;
			margin-bottom: 100px;
		}
		.acc_img1 {
			display: inline-block;
			width: 250px;
			height: 250px;
			transition: all 0.4s linear;
			background-image: url("../images/mainpage/ezen101.jpg");
		}
		.acc_img1:hover {
			width: 250px;
			height: 250px;
			background-image: url("../images/mainpage/ezen101_1.jpg");
		}
	
		.acc_img2 {
			display: inline-block;
			width: 250px;
			height: 250px;
			transition: all 0.4s linear;
			background-image: url("../images/mainpage/ezen102.jpg");
		}
		.acc_img2:hover {
			width: 250px;
			height: 250px;
			background-image: url("../images/mainpage/ezen102_1.jpg");
		}
		
		.acc_img3 {
			display: inline-block;
			width: 250px;
			height: 250px;
			transition: all 0.4s linear;
			background-image: url("../images/mainpage/ezen201.jpg");
		}
		.acc_img3:hover {
			width: 250px;
			height: 250px;
			background-image: url("../images/mainpage/ezen201_1.jpg");
		}
		
		.acc_img4 {
			display: inline-block;
			width: 250px;
			height: 250px;
			transition: all 0.4s linear;
			background-image: url("../images/mainpage/ezen202.jpg");
		}
		.acc_img4:hover {
			width: 250px;
			height: 250px;
			background-image: url("../images/mainpage/ezen202_1.jpg");
		}
		
		/* container #midea */
		#media {
			text-align: center;
		}
		#media .vids {
			margin-bottom: 150px;
		}
	/* container 끝 */
	
	
	/* footer 시작 */
		#footer {
			background-color: #292929;
			width: 1200px;
			height: 300px;
			color: #d4d4d4;
			position: relative;
			left: -50px;
			font-family: "맑은 고딕";
		}
			#footer .logo {
				margin: 30px 0 0 35px;
			}
			#footer .border {
				width: 1200px;
				height: 30px;
				border-bottom: solid 1px #d4d4d4;
			}
			#footer small {
				position: absolute;
				top: 60px;
				font-size: 12px;
				text-align: center;
				line-height: 18px;
			}
			#footer .istlogo {
				position: absolute;
				top: 80px;
				left: 370px;
			}
			#footer address {
				text-align: center;
				font-size: 12px;
				font-style: normal;
				line-height: 18px;
				position: relative;
				top: 40px;
			}
	/* footer 끝 */
	
	/* 모달 스타일 */
       #myModal {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			text-align: center;
			z-index: 9999;
       }
	   #myModal img {
		   outline: solid 2px skyblue;
		   box-shadow: 5px 5px 8px #666;
	   }

       /* 모달 내용 스타일 */
       .modal-content {
			position: relative; 
			top: -30px;  /*493px;*/ 
			left: 220px;  /*830px;*/
			transform: translate(-50%, -50%);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			/*padding: 20px;*/
       }

       /* 모달 닫기 버튼 스타일 */
       .close-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			cursor: pointer;
			font-size: 14px;
			color: white;
       }